
@color-positive: #96CA2D;

.Header {
	background-color: lighten(@base-color, 10%);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);	
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	margin-bottom: -.3rem;

	h1 {
		-webkit-flex: 1 1 100%;
		flex: 1 1 100%;
		font-weight: lighter;
		font-size: 1.3rem;
		padding-left: 1em;
	}

	.UserPortrait {
		flex: 0 0 40px;
		padding-right: 1em;
	}

}

.cordova .Header {
	padding-top: .8rem;
}