
	.UserPortrait {
		.user {
			display: inline-block;
			height: 30px;
			width: 30px;
			overflow: hidden;
			background-color: rgba(0,0,0,0.4);
			border-radius: 30px;
			text-align: center;
			line-height: 30px;
			font-size: 14px;
			opacity: (.6);
		}
		
	}