
	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 300;
		src: url(../fonts/Roboto-Light.woff) format('woff');
	}
	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		src: url(../fonts/Roboto-Regular.woff) format('woff');
	}
	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		src: url(../fonts/Roboto-Bold.woff) format('woff');
	}



	@text-color-light: #ccc;
	
	



// Document and Element Setup

	html,
	body {
		width: 100%;
		height: 100%;
	}
	

	body {
		background-color: @base-color;
		font-family: 'Roboto', sans-serif;
		color: #fff;
		font-weight: lighter;

	}

	a {
		color: #fff;
		text-decoration: none;
	}







// Utility Classes

	.hidden {
		display: none !important;
	}



	body:not(.cordova):not(.touch) {

		.clickable {
			cursor: pointer;
		}

		.views:not(.scrolling) .clickable {
			&:active {
				color: @highlight-color;
			}
		}

	}


	.list {
		> * {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			flex-direction: row;
			-webkit-align-items: center;
			align-items: center;
			justify-content: space-between;
			
			> * {
				padding: .4em 1em .4em 1em;
				-webkit-order: 0;
				order: 0;
				-webkit-flex: 0 0 auto;
				flex: 0 0 auto;
			}
		}
	}


	.section {
		margin: 1em;

		&:first-child {
			margin-top: 0;
		}

		> h2 {
			border-bottom: 1px solid #eee;
			margin-bottom: 8px;

			> span {
				background-color: #fff;
				position: relative;
				top: 6px;
				padding-right: 1em;
				color: @text-color-light;
				font-size: .8em;
				font-weight: lighter;
			}
		}

		// Pull list out of section padding. 
		// They have their own padding and also we want the
		// tap highlight color to touch both sides of the screen. -KCJ
		.list {
			margin-left: -1em;
			margin-right: -1em;
		}
	}



// Device and Feature Modifications

	
	* {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}



	body.cordova.touch {
		-webkit-user-select: none;
		user-select: none;

		.views:not(.scrolling) .clickable:active {
			background-color: rgba(0, 0, 0, .2);
		}
	}

	
	

// Form Elements
	
	button,
	input[type='button'],
	input[type='submit'] {
		-webkit-appearance: none;
		padding: .6em;
		border: none;
		box-sizing: border-box;
		width: 100%;
		color: #fff;
		font-weight: 300;
		font-size: inherit;
		border-radius: 1px;
		background: @highlight-color;
		-moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.79);
		box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.79);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		
		&:focus {
			outline: none;
		}
		
		&:active {
			-moz-box-shadow: none;
			box-shadow: none;
			background-color: darken(@highlight-color, 10%);
		}

		&:disabled,
		&[disabled] {
			background: lighten(@highlight-color, 30%);
			box-shadow: none;
		}
		
		&.link {
			background: transparent;
			box-shadow: none;
			color: @highlight-color;
		}


	}
	
	input[type='text'],
	input[type='password'] {
		-webkit-appearance: none;
		border: 1px solid #aaa;
		box-sizing: border-box;
		font-size: inherit;
		padding: .4em;
		outline: none;
		border-radius: 1px;
		background-color: #fff;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		
		&:-webkit-autofill {
			background-color: #fff !important;
			-webkit-box-shadow: 0 0 0px 1000px white inset;  //HACK!
		}
	
		&:focus {
			border-color: @highlight-color;
			outline: none;
		}
	}

	input[type='radio'] {
		display: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);


		& + label {
			color: @highlight-color;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}

		&:checked + label {
			color: inherit;
		}


	}

	.button-group {

		> * {
			display: inline-block;
			border-radius: 0;
			text-align: center;
		}

		&.two > * {
			width: 50%;
		}




	}
