<div class='section location'>
	<h2><span>Location</span></h2>

	<label>
		<span class='text'>Street</span>
		<input type='text' name='street' data-attach-point='_streetNode'/>
	</label>

	<label>
		<span class='text'>City</span>
		<input type='text' name='city' data-attach-point='_cityNode'/>
	</label>

	<label>
		<span class='text'>State</span>
		<input type='text' name='state' data-attach-point='_stateNode'/>
	</label>

	<label>
		<span class='text'>Zip</span>
		<input type='text' name='zip' data-attach-point='_zipNode'/>
	</label>

	<label>
		<span class='text'>Lat</span>
		<input type='text' data-attach-point='_latNode'/>
	</label>

	<label>
		<span class='text'>Lng</span>
		<input type='text' data-attach-point='_lngNode' />
	</label>

	<button data-attach-point='_saveLocationNode'>Go</button>



</div>



<div class='section development'>
	<h2><span>Test Tools</span></h2>


	<h3>Simulate Geohopper</h3>
	<label>
		<span class='text'>Location Name</span>
		<input type='text' data-attach-point='_simulateGeohopperLocationNameNode' />
	</label>

	<label>
		<span class='text'>Event Name</span>
		<input type='text' data-attach-point='_simulateGeohopperEventNameNode' />
	</label>

	<button data-attach-point='_simulateGeohopperNode'>Go</button>

	

</div>