

<div class='section time'>
	<span class='value' data-attach-point='_timeNode'></span>
</div>


<div class='section adjust'>
	<h2>
		<span>Adjust Time</span>
	</h2>
	<table>
		<tr class='direction'>
			<td colspan='2'>
				<span class='fa fa-moon-o'>Earlier</span>
			</td>
			<td colspan='2'>
				<span class='fa fa-sun-o'>Later</span>
			</td>
		</tr>
		<tr class='labels'>
			<td>
				Hours
			</td>
			<td>
				Minutes
			</td>
			<td>
				Hours
			</td>
			<td>
				Minutes
			</td>
		</tr>
		<tr>
			<td>
				<button class='link' data-adjust-time data-adjust-value='-1' data-adjust-type='hours'>1</button>
			</td>
			<td>
				<button class='link' data-adjust-time data-adjust-value='-15' data-adjust-type='minutes'>15</button>
			</td>
			<td>
				<button class='link' data-adjust-time data-adjust-value='1' data-adjust-type='hours'>1</button>
			</td>
			<td>
				<button class='link' data-adjust-time data-adjust-value='15' data-adjust-type='minutes'>15</button>
			</td>
		</tr>
		<tr>
			<td>
				<button class='link' data-adjust-time data-adjust-value='-2' data-adjust-type='hours'>2</button>
			</td>
			<td>
				<button class='link' data-adjust-time data-adjust-value='-30' data-adjust-type='minutes'>30</button>
			</td>
			<td>
				<button class='link' data-adjust-time data-adjust-value='2' data-adjust-type='hours'>2</button>
			</td>
			<td>
				<button class='link' data-adjust-time data-adjust-value='30' data-adjust-type='minutes'>30</button>
			</td>
		</tr>
		<tr>
			<td>
				<button class='link' data-adjust-time data-adjust-value='-3' data-adjust-type='hours'>3</button>
			</td>
			<td>
				<button class='link' data-adjust-time data-adjust-value='-45' data-adjust-type='minutes'>45</button>
			</td>
			<td>
				<button class='link' data-adjust-time data-adjust-value='3' data-adjust-type='hours'>3</button>
			</td>
			<td>
				<button class='link' data-adjust-time data-adjust-value='45' data-adjust-type='minutes'>45</button>
			</td>
		</tr>
	</table>
</div>


<!-- <div class='section persist'>
	<h2>
		<span>Persist For</span>
	</h2>
	<ul class='options'>
		<li>
			<input type='radio' name='persist' value='0' id='persist_forever' />
			<label for='persist_forever'>Forever</label>
		</li>
		<li>
			<input type='radio' name='persist' value='1' id='persist_one' />
			<label for='persist_one'>1 Days</label>
		</li>
		<li>
			<input type='radio' name='persist' value='2' id='persist_two' />
			<label for='persist_two'>2 Days</label>
		</li>
		<li>
			<input type='radio' name='persist' value='3' id='persist_three' />
			<label for='persist_three'>3 Days</label>
		</li>
	</ul>
</div> -->

<!-- <div class='section actions'>
	<button data-attach-point='_saveNode'>Save</button>
</div> -->
