<div class='section'>
	<h2>
		<span>Server</span>
	</h2>
	<label>
		<span class='text'>Address</span>
		<input type='text' data-attach-point='_serverAddressNode'/>
		<span class='status' data-attach-point='_serverAddressStatusNode'></span>
	</label>

</div>

<div class='section' data-attach-point='_createUserNode'>
	<h2>
		<span>Create User</span>
	</h2>
	<label>
		<span class='text'>First Name</span>
		<input type='text' data-attach-point='_firstNameNode'/>
	</label>
	<label>
		<span class='text'>Last Name</span>
		<input type='text' data-attach-point='_lastNameNode'/>
	</label>
	<label>
		<span class='text'>Username</span>
		<input type='text' data-attach-point='_usernameNode'/>
	</label>
	<label>
		<span class='text'>Password</span>
		<input type='text' data-attach-point='_passwordNode'/>
	</label>
	<label>
		<span class='text'>Confirm Password</span>
		<input type='text' data-attach-point='_confirmPasswordNode'/>
	</label>

</div>


<button data-attach-point='_saveNode'>Save</button>