<ol>
	<li class='dashboard' data-route='dashboard'><span class='label fa fa-tachometer'>Dashboard</span></li>
	<li class='devices' data-route='devices'><span class='label fa fa-cubes'>Devices</span></li>
	<li class='actions' data-route='actions'><span class='label fa fa-cogs'>Actions</span></li>
	<li class='admin' data-route='admin'>
		<span class='label fa fa-pencil'>Admin</span>
		<ol>
			<li data-route='admin/devices'><span class='label'>Devices</span></li>
			<li data-route='admin/actions'><span class='label'>Actions</span></li>
			<li data-route='admin/triggers'><span class='label'>Triggers</span></li>
			<li data-route='admin/triggers'><span class='label'>Alarms</span></li>
			<li data-route='admin/triggers'><span class='label'>Users</span></li>
		</ol>
	</li>
</ol>
<div class='shide fa fa-chevron-left' data-attach-point='_shideNode'></div>


