
<div class='section'>
	<h2>
		<span>Accounts</span>
	</h2>
	<label>
		<span class='text'>First Name</span>
		<input type='text' data-attach-point='_firstNameNode'/>
	</label>

	<label>
		<span class='text'>Last Name</span>
		<input type='text'  data-attach-point='_lastNameNode'/>
	</label>

	<label>
		<span class='text'>Indigo Username</span>
		<input type='text'  data-attach-point='_indigoUsernameNode'/>
	</label>

	<label>
		<span class='text'>Geohopper Account</span>
		<input type='text'  data-attach-point='_geohopperAccountNode'/>
	</label>

</div>

<div class='section checkins'>
	<h2>
		<span>Location History</span>
	</h2>
	<ol data-attach-point='_checkinsNode'></ol>
</div>