
<div class='control' data-attach-point='_controlNode'>
    <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <path d="M108.6,391.4l21.8-21.8C99.8,339,80.9,296.7,80.9,250c0-93.4,75.7-169.1,169.1-169.1S419.1,156.6,419.1,250
            c0,46.7-18.9,89-49.5,119.6l21.8,21.8C427.6,355.2,450,305.2,450,250c0-110.5-89.5-200-200-200S50,139.5,50,250
            C50,305.2,72.4,355.2,108.6,391.4z" id="gauge-path"/>
            <path d="M450,250c0-55.2-22.4-105.2-58.6-141.4l-21.8,21.8c30.6,30.6,49.5,72.9,49.5,119.6c0,93.4-75.7,169.1-169.1,169.1
        c-46.7,0-89-18.9-119.6-49.5l-21.8,21.8C144.8,427.6,194.8,450,250,450C360.5,450,450,360.5,450,250z" id="gauge-path-subtraction-medium"/>
            <path d="M391.4,391.4l-21.8-21.8c-30.6,30.6-72.9,49.5-119.6,49.5s-89-18.9-119.6-49.5l-21.8,21.8C144.8,427.6,194.8,450,250,450
        S355.2,427.6,391.4,391.4z" id="gauge-path-subtraction-small"/>

            <clipPath id="gauge-clip">
                <use xlink:href="#gauge-path" />
            </clipPath>
             <clipPath id="gauge-clip-subtraction-medium">
                <use xlink:href="#gauge-path-subtraction-medium" transform="rotate(180 250 250)"/>
            </clipPath>
            <clipPath id="gauge-clip-subtraction-small">
                <use xlink:href="#gauge-path-subtraction-small" transform="rotate(90 250 250)"/>
            </clipPath>

        </defs>
        <g>
            <use xlink:href="#gauge-path" fill="#EEEEEE" class='gauge-background-area'/>
            <g class='gauge-outer-group'   data-attach-point='_gaugeOuterGroup'>
                <g clip-path="url(#gauge-clip)" class='gauge-inner-group'>
                    <use xlink:href="#gauge-path" data-attach-point='_gaugeFillArea' class='gauge-fill-area'/>
                </g>
            </g>
            <g class='knob-group' data-attach-point="_knobGroup">
                <path class='knob' d="M352.7,352.7c56.7-56.7,56.7-148.6,0-205.4s-148.6-56.7-205.4,0
                    s-56.7,148.6,0,205.4S296,409.4,352.7,352.7z M306.4,306.4c7.9-7.9,20.7-7.9,28.6,0c7.9,7.9,7.9,20.7,0,28.6
                    c-7.9,7.9-20.7,7.9-28.6,0C298.6,327.2,298.6,314.3,306.4,306.4z"/>
                <circle class='handle' cx="320.8" cy="320.8" r="13.4"/>
            </g>
        </g>
    </svg>
    <div class='labels'>
        <div class='brightness' data-attach-point='_brightnessNode'></div>
    </div>

    <div class='origin hidden' data-attach-point='_originNode'>A</div>
    <div class='destination hidden' data-attach-point='_destinationNode'>B</div>
</div>

 <div class='actions'>
    <button class='link' data-attach-point='_onNode'>On</button><!--
    --><button class='link' data-attach-point='_dimNode'>Dim</button><!--
    --><button class='link' data-attach-point='_offNode'>Off</button>
</div>