@import 'dashboard/User.less';
@import 'dashboard/WeatherCondition.less';	

	@highlight-color: #45C7EC;
	@text-color-light: #ccc;





	.Dashboard {


		// We want the dash to be a littler denser
		// than other views, so were overridding the default styles.
		.list > * > * {
			padding-top: .2em;
			padding-bottom:  .2em;
		}


		
		.alarm {

			
			.details {
				display: table;
				width: 100%;
				
				> * {
					display: table-cell;
					box-sizing: border-box;
					vertical-align: middle;
				}
				
				.time {
					font-size: 3em;
				}
				
				.status {
					color: #ccc;
					text-align: right;
					font-size: 2em;
					
					.isOn {
						
						&.true {
							color: #96CA2D;
						}
					}

				}
				
			}
			
		}

		.weather {

			ol {
				display: table;
				width: 100%;
				margin-top: .8rem;
				
				> * {
					display: table-cell;
					box-sizing: border-box;
					vertical-align: middle;
				}
			}

		}



		.devices {
			.status {
				text-align: right;
				line-height: 1.3rem;  // Icons hold greater height on other lists.
			}
		}

		.actions {
			.list {

			}
		}

	}