
@color-positive: #96CA2D;

.Header {
	position: fixed;
	top: 0;
	width: 100vw;
	
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
	

	> .content {
		background-color: lighten(@base-color, 10%);
		color: #fff;
		padding-top: 20px; // iOS App Mode ONLY.  Height of native status bar at top.
		position: relative;

		h1 {
			font-weight: lighter;
			padding: 2vh 0 2vh 1rem;
			font-size: 1.3rem;
		}

		.user {
			position: absolute;
			right: 10px;
			top: 20px;
			height: 35px;
			width: 35px;
			overflow: hidden;
			background-color: rgba(0,0,0,0.4);
			border-radius: 40px;
			text-align: center;
			line-height: 38px;
			font-size: 14px;
			opacity: (.6);
		}
	}

	> .status {
		background-color: @color-positive;
		color: #fff;
		font-size: .8em;
		text-align: center;
		height: 1.2em;
		line-height: 1.2em;
		position: relative;

		&.hidden {
			display: block !important;  // Common override;
			height: 0;
			color: transparent;
		}

		transition: height .2s;
	}





}